:root {
  --dark-green: rgb(77, 137, 99);
  --green: rgb(105, 165, 131);
}

html {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}

button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

button:hover {
  background-color: rgb(249,250,251);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: var(--dark-green);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.title {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.sorting-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  background-color: var(--green);
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 20px;
}

.form-title {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.form-label {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.form-submit {
  width: 80px;
}

.sort-form {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 20px;
  padding-bottom: 40px;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-description-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.image-description {
  text-align: center;
  margin: 10px;
}

.image-date {
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.error-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
  background-color: var(--green);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.modal-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.modal-image {
  width: 90%;
  max-width: 800px;
  padding-bottom: 20px;
}
